@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --cor-vermelha: #ff3131;
  --cor-vermelho-escuro: #8a1313;
  --cor-preta: black;
  --cor-branca: white;
  --cor-cinza: rgb(63, 63, 63);
}

body {
  max-width: 100vw;
  height: 100vh;
}

#conteudo-principal {
  max-width: 100%;
  height: 100%;
  display: flex;
}

/* Estilizando o Menu Lateral */
#menu-lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100%;
  max-width: 320px;
  padding: 50px 10px 50px 0px;
  border-right: 2px solid var(--cor-vermelha);
  color: var(--cor-vermelha);
  font-family: "Open Sans", sans-serif;
}

#logo-doe-vida {
  max-height: 100px;
  max-width: 100px;
}

#logo-doe-vida,
#menu-lateral > h1 {
  font-size: 2rem;
  margin: 0px auto;
}

#nav-menu-lateral {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 2rem;
}

.btn-menu-lateral {
  padding: 10px 0;
}

.link-menu-lateral {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--cor-vermelha);
  text-decoration: none;
  margin-left: 20px;
}

.icon-menu-lateral {
  height: 30px;
}

.btn-menu-lateral:hover {
  border: 1px solid var(--cor-vermelha);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.ativo {
  background-color: var(--cor-vermelha); /* Add an active/current color */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.ativo > .link-menu-lateral {
  color: var(--cor-branca);
}

.ativo .icon-menu-lateral {
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(7498%)
    hue-rotate(103deg) brightness(112%) contrast(100%);
}
/* Fim do Menu Lateral */

/* Estilizando o Menu Superior */
#div-tela-inical {
  max-height: 100vh;
  width: 100vw;
}

#cabecalho-tela-inicial {
  max-width: 100%;
  height: 100px;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--cor-vermelha);
  font-family: "Open Sans", sans-serif;
  color: var(--cor-vermelha);
}

#btn-perfil-usuario {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 70px;
  padding: 0px 30px;
  border: 2px solid var(--cor-vermelha);
  border-radius: 40px;
  text-decoration: none;
  color: var(--cor-preta);
}

.dados-usuario {
  color: var(--cor-vermelha);
  font-size: 0.8rem;
}

.icon-menu-superior > img {
  height: 30px;
}
/* Fim do Menu Superior */
#conteudo-tela-inical {
  max-width: 100%;
}
/* Estilizando Carrossel de Campanhas */
#carrossel-campanhas {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 20px;
  gap: 20px;
  margin: auto;
}

.containerImg {
  max-width: 500px;
  max-height: 250px;
  margin: auto;
}

.containerImg > img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  border: 2px solid var(--cor-vermelha);
}

/* Fim Carrossel de Campanhas */

/* Estilizando Carteira do Doador */
#conteudo-carteira-doador {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 40px 20px;
  gap: 20px;
}

#carteira-doador {
  display: flex;
  align-items: center;
  gap: 10px;
}

#conteudo-carteira-doador > h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  color: var(--cor-vermelha);
}

#carteira-doador-frente,
#dados-verso-carteira {
  max-width: 400px;
  max-height: 300px;
}

#carteira-doador-frente > img,
#dados-verso-carteira > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#dados-verso-carteira {
  position: relative;
  display: flex;
}

#dados-carteira {
  position: absolute;
  text-align: center;
  padding: 10px;
  top: 12%;
  right: 3%;
}

#conteudo-cod-barra-carteira {
  display: flex;
  align-items: start;
  padding: 5px;
  gap: 10px;
}

#dados-cod-barra-carteira {
  flex-direction: column;
}

#dados-carteira > h1,
#dados-carteira > h2 {
  font-size: 1.55rem;
  color: var(--cor-branca);
}

#conteudo-cod-barra-carteira img {
  max-height: 50px;
}

#conteudo-cod-barra-carteira h2 {
  font-size: 1rem;
  color: var(--cor-branca);
}

#conteudo-cod-barra-carteira #tipo-sanguineo-carteira {
  font-size: 3rem;
  color: var(--cor-branca);
}

#containerBtn {
  max-width: 50px;
  max-height: 50px;
  margin-left: 20px;
}

#btn-baixar-carteira {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#btn-baixar-carteira > img {
  height: 100%;
  width: 100%;
}
/* Fim Carteira do Doador */
/* Estilizando Tela de Login */
#conteudo-login {
  background-color: var(--cor-vermelha);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100%;
  max-width: 100%;
  gap: 20px;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}

#gif-login {
  height: auto;
  width: 80%;
}

#conteudo-formLogin {
  color: var(--cor-branca);
  height: auto;
  width: 50%;
  text-align: center;
}

#conteudo-formLogin a {
  color: var(--cor-branca);
}

#formLogin {
  width: 100%;
  padding: 20px 0px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--cor-branca);
  font-size: 1.25rem;
  border-radius: 30px;
  border: 3px solid var(--cor-branca);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formLogin label {
  display: block;
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif;
}

#conteudo-input-emailLogin,
#conteudo-input-senhaLogin {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#formLogin input {
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid var(--cor-branca);
  outline: none;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  color: var(--cor-branca);
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
}

#conteudo-input-lembrarLogin,
#lembarInput {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
#conteudo-input-lembrarLogin {
  width: 80%;
  justify-content: space-between;
  margin-bottom: 30px;
}

#lembarInput > input {
  width: 20px;
}

#formLogin #lembar-login {
  margin: auto;
}

#formLogin button {
  background-color: var(--cor-vermelho-escuro);
  border: none;
  padding: 15px;
  width: 50%;
  border-radius: 20px;
  color: var(--cor-branca);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

#formLogin > button:hover {
  background-color: var(--cor-preta);
  cursor: pointer;
}
/* Fim Tela de Login */
/* Estilizando Tela de Cadastro */
#conteudo-cadastro {
  width: 100%;
  padding: 20px;
  background-color: var(--cor-vermelha);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

#conteudo-cadastro > h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--cor-branca);
}

#conteudo-cadastro a {
  color: var(--cor-preta);
}

#cadastroForm {
  max-width: 800px;
  background-color: var(--cor-branca);
  padding: 20px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cadastroForm > label {
  display: block;
  margin-bottom: 5px;
}

#cadastroForm > #conteudo-sexo,
#cadastroForm > #conteudo-sanguineo {
  display: flex;
  gap: 30px;
}

#cadastroForm > input[type="text"],
#cadastroForm > input[type="email"],
#cadastroForm > input[type="password"],
#cadastroForm > select {
  width: calc(100% - 12px);
  padding: 6px;
  margin-bottom: 20px;
  border: 1px solid var(--cor-preta);
  border-radius: 4px;
}

#cadastroForm > #conteudo-sexo,
#cadastroForm > input[type="date"],
#conteudo-sanguineo {
  margin-bottom: 20px;
}

#cadastroForm > input[type="tel"] {
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid var(--cor-preta);
  border-radius: 4px;
}

#cadastroForm > input[type="submit"] {
  background-color: var(--cor-vermelho-escuro);
  color: var(--cor-branca);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#cadastroForm > input[type="submit"]:hover,
#form_editarPerfil > input[type="submit"]:hover {
  background-color: var(--cor-preta);
}
/* Fim Tela de Cadastro */
/* Estilizando Tela de Perfil */
#conteudo_perfil {
  max-width: 100vw;
  font-family: "Open Sans", sans-serif;
}

#title_perfil {
  text-align: center;
  color: var(--cor-vermelha);
  font-size: 3rem;
  margin: 70px 0px 20px;
}

#div_container_perfil {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.title_div_dados_perfil {
  background-color: var(--cor-vermelha);
  color: var(--cor-branca);
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
}

#div_dados_pessoais_perfil,
#div_dados_autoDeclarados_perfil {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

#div_dados_pessoais_perfil {
  border-right: solid 2px var(--cor-vermelha);
}

.title_dados_perfil {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 20px 0px 0px 20px;
}

.dados_perfil {
  font-size: 1rem;
  font-weight: bold;
  margin: 0px 20px;
  color: var(--cor-cinza);
}

#form_editarPerfil {
  display: flex;
  flex-direction: column;
}

.div_input_perfil {
  display: flex;
  justify-content: space-between;
}

.content_input_perfil {
  display: flex;
  flex-direction: column;
}

.edit_button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

#icon_editar_perfil {
  height: 40px;
  margin-right: 20px;
}

#footer_editar_perfil > input[type="submit"] {
  background-color: var(--cor-vermelho-escuro);
  color: var(--cor-branca);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.2rem;
  width: 50%;
}

#footer_editar_perfil {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}
/* Fim Tela de Perfil */
/* Estilizando Tela de Perguntas */
#conteudo_faqs {
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-family: "Open Sans", sans-serif;
}

#titulo_faqs {
  color: var(--cor-vermelha);
  text-align: center;
  font-size: 3rem;
  margin: 30px 0px;
}

#container_perguntas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 1000px;
}

.accordion {
  border-bottom: 2px solid var(--cor-vermelha);
  background-color: var(--cor-branca);
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.accordion-header {
  font-weight: bold;
  color: var(--cor-vermelha);
  width: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.5rem;
}

.accordion-header span {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accordion-body {
  color: var(--cor-preta);
  opacity: 0;
  font-size: 1.2rem;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s;
}

.accordion-body.active {
  height: 100%;
  opacity: 1;
  padding: 5px 0px;
  text-align: justify;
}

.arrow {
  transition: transform 0.2s linear;
}

.accordion:has(.active) .arrow {
  transform: rotate(180deg);
}
/* Fim Tela de Perguntas */
/* Estilizando a Tela de Campanhas */
#cabecalho_addCampanhas {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 0px 20px 0px;
  padding: 0px 30px;
}

.title_campanhas {
  text-align: center;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  color: var(--cor-vermelha);
}

#btn_add_campanha > img {
  height: 3rem;
}

#picture_input {
  display: none;
}

.upload {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 1rem;
}

.picture {
  width: 700px;
  aspect-ratio: 16 / 9;
  background: #DDD;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  border: 2px dashed currentColor;
  cursor: pointer;
  border-radius: 2rem;
  overflow: hidden; 
  position: relative;
}

.picture:hover {
  color: var(--cor-vermelha);
  background: #ccc;
}

.picture_img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* Faz com que a imagem se ajuste ao contêiner */
  top: 0;
  left: 0;
  overflow: hidden;
}

.default_image {
  width: 50px; /* Tamanho fixo para o ícone de upload */
  height: 50px; /* Tamanho fixo para o ícone de upload */
  object-fit: contain; /* Mantém a proporção do ícone */
}

.uploaded_image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
}

.dados_campanha {
  display: flex;
  flex-direction: column;
  gap: 25px; /* Espaçamento entre os grupos do formulário */
}

.form-group {
  display: flex;
  align-items: center;
  gap: 5px; /* Espaçamento entre o ícones e os inputs */
position: relative;
top: 4rem;
margin-left: 15rem;
}

.form-group label {
  display: block;
  width: 14%;
  float:left;
  font-size: 20px;
  color: var(--cor-vermelha);
  font-weight: bold;

}
#titulo{
  width: 600px;
}


.form-group input {
  padding: 10px;
  font-size: 1.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;

}

.icon_campanha {
  width: 24px; 
  height: 24px; 
}
#form-tipo{
  display: block;
  width: 6.9REM;
  position: relative;
  margin-left: 67rem;
  top: -11rem;
  font-size: 40PX;
  font-weight: bolder;
  color: var(--cor-vermelha);
}
.submit-button {
  background-color: var(--cor-vermelha);
  border: none;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  top: 3rem;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 2rem;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #ccc;

}

@media (max-width: 700px) {
  .title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--cor-vermelha);
    margin-top: 1rem;
    font-size: 20px;
  }
  
  .picture {
    width: 300px;
    aspect-ratio: 16 / 9;
    background: #DDD;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentColor;
    cursor: pointer;
    border-radius: 2rem;
    overflow: hidden; 
    position: relative;
    top: -1rem;
  }
  .form-group {
    display: flex;
    align-items: center;
    gap: 5px; /* Espaçamento entre o ícones e os inputs */
  position: relative;
  top: 4rem;
  margin-left: 1rem;
  }
  
  .form-group label {
    display: block;
    width: 33%;
    float:left;
    font-size: 12px;
    color: var(--cor-vermelha);
    font-weight: bold;
  
  }
  #titulo{
    width: 240px;
  }
  
  
  .form-group input {
    padding: 10px;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    height: 1.8rem;
  
  }
  #form-tipo{
    display: block;
    width: 3.6REM;
    height: 1.7rem;
    position: relative;
justify-content: center;
align-items: center;
margin: auto;
    top: -11rem;
    font-size: 18PX;
    font-weight: bolder;
    color: var(--cor-vermelha);
  }
  .submit-button {
    background-color: var(--cor-vermelha);
    border: none;
    display: flex;
    color: white;
    
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    top: 1rem;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 2rem;
    transition: background-color 0.3s;
  }
}

/*CSS das páginas de campanha*/

/*CSS da página que exibe a campanha atual*/

.texto-inicial {
  text-align: center;
  color: #ff3131;
  font-size: 40px;
  padding: 50px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.img-campanhas {
  
  align-items: center;
  margin: auto;
  justify-content: center;
  display: flex;
  border-radius: 10px;
  max-width: 100%;
  width: 815px;
  aspect-ratio: 16/6;
  
}

.texto-final {
  color: #ff3131;
  position: relative;
  left: 450px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  
}
.tipo-sanguineo {
  margin-left: 560px;
  padding: 5px;
  color: #ff3131;
  font-size: 35px;
  font-family: "Open Sans", sans-serif;
  
}

.div-final-campanha {
  display: flex;
  position: relative;
  
}

.links-campanha a{
  text-decoration: none;
  color: #ff3131;
}

.icones-campanhas{
  vertical-align: middle;
  width: 20px;
  height: auto;
  margin-right: 4px;
}


/* CSS da página que exibe as campanhas*/


.texto-inicial-tela2 {
  position: relative;
  color: #ff3131;
  font-size: 80px;
  padding: 50px;
  font-family: "Open Sans", sans-serif;
  justify-content: space-between;
  display: flex;
  font-weight: bold;
}

#img-icon {
  margin-right: 200px;
  margin-top: 20px;
  width: 100px;
  height: 90px;
}

#title_align{
  margin-left: 9.5rem;
}

.card{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 45px;
  margin: 2rem auto;
  max-width: 1200px;
  cursor: pointer;
    
}

.item {
    
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden; /* Garante que a imagem não saia dos limites do card */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.item img {
  width: 100%;
  height: auto;
  max-height: 200px; /* Ajuste a altura máxima conforme necessário */
  object-fit: cover; /* Garante que a imagem cubra o espaço disponível sem distorcer */
  border-radius: 10px;
  margin-bottom: 1rem;
  aspect-ratio: 11/6;
}

.item h3 {
  font-size: 1rem;
  color: var(--secundaria);
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 #7c7980;
}


/*Responsividade da página que exibe a campanha atual*/
@media (min-width: 320px) and (max-width:780px) {


.texto-inicial {
  font-size:15px;
  padding: 20px;
}

.img-campanhas {
  width: 350px;
  aspect-ratio: 16/9;
  padding: 10px;
}

.texto-final {
  left: 100px;
  font-size: 10px;
}
.tipo-sanguineo {
  margin-top: -25px;
  margin-left: 90px;
  padding: 20px;
  font-size: 20px;
}

.icones-campanhas{
  margin-right: 1px;
}
}

/*Responsividade da página que exibe as campanhas*/
@media (min-width: 320px) and (max-width:780px) {
  
  
.texto-inicial-tela2 {
  position: relative;
  padding: 15px;
  margin: 0 auto;
  margin-top: 10px;  
}
#title_align{
  margin-left: 2.5rem;
  margin-top: 20px;
  font-size: 25px;
 
}
#img-icon{
  height: 30px;
  width: 30px;
  margin-top: 23px;
  margin-right: 15px;
    
}
.card{
  max-width: 370px;
  margin-top: 40px;  
   
}
.item {   
 border-radius: 20px;
 margin-top: -40px; 
}
} 