@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --cor-vermelha: #ff3131;
  --cor-vermelho-escuro: #8a1313;
  --cor-preta: black;
  --cor-branca: white;
  --cor-cinza-escuro: rgb(63, 63, 63);
  --cor-cinza-claro: #aaa;
  --font-open-sans: "Open Sans", sans-serif;
}

body,
html {
  max-width: 100vw;
  height: 100vh;
}

#conteudo-principal {
  min-height: calc(100vh - 60px);
  margin-top: 60px;
  margin-left: 250px;
  padding: 20px;
}

/* Estilizando o Menu Lateral */
#menu-lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100%;
  max-width: 320px;
  padding: 20px 10px 20px 0px;
  border-right: 2px solid var(--cor-vermelha);
  background-color: var(--cor-branca);
  color: var(--cor-vermelha);
  font-family: var(--font-open-sans);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

#logo-doe-vida {
  max-height: 100px;
  max-width: 100px;
}

#logo-doe-vida,
#menu-lateral > h1 {
  font-size: 2rem;
  margin: 0px auto;
}

#nav-menu-lateral {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 2rem;
}

.btn-menu-lateral {
  padding: 10px 0;
}

.btn-sair {
  text-align: center;
  border: none;
}

.btn-sair > a {
  text-decoration: none;
  color: var(--cor-vermelha);
}

.link-menu-lateral {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--cor-vermelha);
  text-decoration: none;
  margin-left: 20px;
}

.icon-menu-lateral {
  height: 30px;
}

.btn-menu-lateral:hover {
  border: 1px solid var(--cor-vermelha);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* Fim do Menu Lateral */

/* Estilizando o Menu Superior */
#menu-superior {
  width: calc(100% - 250px);
  height: 100px;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--cor-vermelha);
  font-family: var(--font-open-sans);
  color: var(--cor-vermelha);
  background-color: var(--cor-branca);
  position: fixed;
  top: 0;
  left: 250px;
  z-index: 1000;
}

#btn-perfil-usuario {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 70px;
  padding: 0px 30px;
  border: 2px solid var(--cor-vermelha);
  border-radius: 40px;
  text-decoration: none;
  color: var(--cor-preta);
}

.dados-usuario {
  color: var(--cor-vermelha);
  font-size: 0.8rem;
}

.icon-menu-superior > img {
  height: 30px;
}
/* Fim do Menu Superior */
#conteudo-tela-inical {
  max-width: 100%;
}
/* Estilizando Carrossel de Campanhas */
.carousel {
  position: relative;
  max-width: 100%;
  margin: 50px auto;
  overflow: hidden;
  background-color: var(--cor-branca);
}

.carousel-container {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 30%;
  height: 250px;
  box-sizing: border-box;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  display: block;
}

.carousel > button {
  position: absolute;
  top: 50%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
  font-size: 2em;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
/* Fim Carrossel de Campanhas */

/* Estilizando Doacoes Agendadas */
#conteudo-doacoes-agendadas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 40px 20px;
  gap: 20px;
}

#conteudo-doacoes-agendadas > h1 {
  font-family: var(--font-open-sans);
  font-size: 3rem;
  color: var(--cor-vermelha);
}

/* Fim Doacoes Agendadas */

/* Estilizando Tela de Login */
#conteudo-login {
  background-color: var(--cor-vermelha);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100%;
  max-width: 100%;
  gap: 20px;
  padding: 20px;
  font-family: var(--font-open-sans);
}

#gif-login {
  height: auto;
  width: 80%;
}

#conteudo-formLogin {
  color: var(--cor-branca);
  height: auto;
  width: 50%;
  text-align: center;
}

#conteudo-formLogin a {
  color: var(--cor-branca);
}

#formLogin {
  width: 100%;
  padding: 20px 0px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--cor-branca);
  font-size: 1.25rem;
  border-radius: 30px;
  border: 3px solid var(--cor-branca);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formLogin label {
  display: block;
  margin-bottom: 5px;
  font-family: var(--font-open-sans);
}

#conteudo-input-emailLogin,
#conteudo-input-senhaLogin {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#formLogin input {
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid var(--cor-branca);
  outline: none;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  color: var(--cor-branca);
  font-size: 1.25rem;
  font-family: var(--font-open-sans);
}

#conteudo-input-lembrarLogin,
#lembarInput {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
#conteudo-input-lembrarLogin {
  width: 80%;
  justify-content: space-between;
  margin-bottom: 30px;
}

#lembarInput > input {
  width: 20px;
}

#formLogin #lembar-login {
  margin: auto;
}

#formLogin button {
  background-color: var(--cor-vermelho-escuro);
  border: none;
  padding: 15px;
  width: 50%;
  border-radius: 20px;
  color: var(--cor-branca);
  font-size: 15px;
  font-family: var(--font-open-sans);
}

#formLogin > button:hover {
  background-color: var(--cor-preta);
  cursor: pointer;
}
/* Fim Tela de Login */
/* Estilizando Tela de Cadastro */
#conteudo-cadastro {
  width: 100%;
  padding: 20px;
  background-color: var(--cor-vermelha);
  font-family: var(--font-open-sans);
  font-weight: bold;
}

#conteudo-cadastro > h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--cor-branca);
}

#conteudo-cadastro a {
  color: var(--cor-preta);
}

#cadastroForm,
#form-editarPerfil {
  max-width: 800px;
  background-color: var(--cor-branca);
  padding: 20px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cadastroForm > label,
#form-editarPerfil > label {
  display: block;
  margin-bottom: 5px;
}

#cadastroForm > #conteudo-sexo,
#cadastroForm > #conteudo-sanguineo,
#form-editarPerfil > #conteudo-sexo,
#form-editarPerfil > #conteudo-sanguineo {
  display: flex;
  gap: 30px;
}

#cadastroForm > input[type="text"],
#cadastroForm > input[type="email"],
#cadastroForm > input[type="password"],
#cadastroForm > select,
#form-editarPerfil > input[type="text"],
#form-editarPerfil > input[type="email"],
#form-editarPerfil > select {
  width: calc(100% - 12px);
  padding: 6px;
  margin-bottom: 20px;
  border: 1px solid var(--cor-preta);
  border-radius: 4px;
}

#cadastroForm > #conteudo-sexo,
#cadastroForm > input[type="date"],
#conteudo-sanguineo,
#form-editarPerfilm > #conteudo-sexo,
#form-editarPerfil > input[type="date"],
#conteudo-sanguineo {
  margin-bottom: 20px;
}

#cadastroForm > input[type="tel"],
#form-editarPerfil > input[type="tel"] {
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid var(--cor-preta);
  border-radius: 4px;
}

#cadastroForm > input[type="submit"],
#form-editarPerfil > input[type="submit"] {
  background-color: var(--cor-vermelho-escuro);
  color: var(--cor-branca);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#cadastroForm > input[type="submit"]:hover,
#form_editarPerfil > input[type="submit"]:hover,
#form-editarPerfil > input[type="submit"]:hover {
  background-color: var(--cor-preta);
}
/* Fim Tela de Cadastro */
/* Estilizando Tela de Perfil */
#conteudo_perfil,
#conteudo-editarPerfil {
  max-width: 100vw;
  font-family: var(--font-open-sans);
}

#title_perfil,
#title_editarPerfil, #title_historico {
  font-family: var(--font-open-sans);
  text-align: center;
  color: var(--cor-vermelha);
  font-size: 3rem;
  margin: 70px 0px 20px;
}

#div_container_perfil {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.title_div_dados_perfil {
  background-color: var(--cor-vermelha);
  color: var(--cor-branca);
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
}

#div_dados_pessoais_perfil,
#div_dados_autoDeclarados_perfil {
  width: 100%;
  height: 100%;
  font-family: var(--font-open-sans);
}

#div_dados_pessoais_perfil {
  border-right: solid 2px var(--cor-vermelha);
}

.title_dados_perfil {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 20px 0px 0px 20px;
}

.dados_perfil {
  font-size: 1rem;
  font-weight: bold;
  margin: 0px 20px;
  color: var(--cor-cinza-escuro);
}

#form_editarPerfil {
  display: flex;
  flex-direction: column;
}

.div_input_perfil {
  display: flex;
  justify-content: space-between;
}

.content_input_perfil {
  display: flex;
  flex-direction: column;
}

#footer_editar_perfil {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

#footer_editar_perfil > #btn-editarPerfil,
#footer_editar_perfil > input[type="submit"] {
  background-color: var(--cor-vermelho-escuro);
  color: var(--cor-branca);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  width: 50%;
}

/* Tela de Editar Perfil */

/* Fim Tela de Perfil */
/* Estilizando Tela de Perguntas */
#conteudo_faqs {
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-family: var(--font-open-sans);
}

#titulo_faqs {
  color: var(--cor-vermelha);
  text-align: center;
  font-size: 3rem;
  margin: 30px 0px;
}

#container_perguntas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 1000px;
}

.accordion {
  border-bottom: 2px solid var(--cor-vermelha);
  background-color: var(--cor-branca);
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.accordion-header {
  font-weight: bold;
  color: var(--cor-vermelha);
  width: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.5rem;
}

.accordion-header span {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accordion-body {
  color: var(--cor-preta);
  opacity: 0;
  font-size: 1.2rem;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s;
}

.accordion-body.active {
  height: 100%;
  opacity: 1;
  padding: 5px 0px;
  text-align: justify;
}

.arrow {
  transition: transform 0.2s linear;
}

.accordion:has(.active) .arrow {
  transform: rotate(180deg);
}
/* Fim Tela de Perguntas */
/* Estilizando a Tela de Campanhas */
#conteudo-campanhas,
#conteudo-mostrarCampanha {
  max-width: 100vw;
  max-height: 100%;
}

#cabecalho_addCampanhas {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 0px 20px 0px;
  padding: 0px 30px;
}

#conteudo-mostrarCampanha > #cabecalho_addCampanhas {
  justify-content: center;
}

#div_campanhas {
  max-width: 100vw;
  max-height: 100%;

  display: flex;
  padding: 20px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.card_campanhas {
  max-width: 400px;
  cursor: pointer;
}

#link_campanha {
  text-decoration: none;
  color: var(--cor-vermelha);
  font-family: var(--font-open-sans);
  font-size: 1rem;
}

.img_campanhas {
  border: solid 2px var(--cor-vermelha);
  border-radius: 20px;
  max-width: 100%;
}

.title_campanhas {
  text-align: center;
  font-size: 3rem;
  font-family: var(--font-open-sans);
  color: var(--cor-vermelha);
}

.title_novaCampanha {
  margin: 70px 0px 20px 0px;
}

#form_novaCampanha {
  max-width: 100vw;
  max-height: 100%;
}

#btn_add_campanha > img {
  height: 50px;
}

.upload_img_novaCampanha {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.picture {
  width: 600px;
  aspect-ratio: 16 / 9;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cor-cinza-claro);
  border: 2px dashed currentColor;
  cursor: pointer;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}

.picture:hover {
  color: var(--cor-vermelha);
  background: #ccc;
}

#picture_input {
  display: none;
}

.picture_img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.default_image {
  width: 50px; /* Tamanho fixo para o ícone de upload */
  height: 50px; /* Tamanho fixo para o ícone de upload */
  object-fit: contain; /* Mantém a proporção do ícone */
}

.uploaded_image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
}

#form_novaCampanha {
  padding: 20px;
}

.dados_campanha {
  display: flex;
  flex-direction: column;
  gap: 25px; /* Espaçamento entre os grupos do formulário */
  align-items: center;
  margin-top: 40px;
}

.form-group {
  display: flex;
  align-items: flex-end;
  gap: 50px; /* Espaçamento entre o ícones e os inputs */
  font-family: var(--font-open-sans);
  font-size: 1.5rem;
  color: var(--cor-vermelha);
}

.input-grupo {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre o ícones e os inputs */
}

.form-group input {
  padding: 10px;
  font-size: 1rem;
  color: var(--cor-vermelha);
  border: 1px solid var(--cor-vermelha);
  border-radius: 5px;
  width: 400px;
}

#input-tipoSanguineo,
.input_agendamento {
  border: 1px solid var(--cor-vermelha);
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
  color: var(--cor-vermelha);
}

.btn-cadastarCampanha,
.btn_agendamento {
  background-color: var(--cor-vermelha);
  color: var(--cor-branca);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 150px;
  height: 50px;
}

.btn-cadastarCampanha:hover,
.btn_agendamento:hover {
  background-color: var(--cor-vermelho-escuro);
}

/*CSS da página que exibe a campanha atual*/
#conteudo-mostrarCampanha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#div_mostrarCampanha {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--font-open-sans);
  color: var(--cor-vermelha);
  font-weight: bold;
}

#img_mostrarCampanha {
  max-width: 600px;
}

#main-campanha {
  display: flex;
  max-width: 550px;
  margin: 10px 0px;
}

.nome_hospital {
  font-size: 2rem;
}

.tipo_sanguineoCampanha {
  font-size: 3.5rem;
  font-weight: bolder;
}

.paragrafo_campanha,
#form_agendamento {
  font-size: 1.5rem;
}

.paragrafo_campanha > a,
.input_agendamento {
  color: var(--cor-vermelha);
}

#form_agendamento {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.inputs_grupo {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.input_agendamento {
  width: 200px;
}

.btn_agendamento {
  color: var(--cor-branca);
  border-radius: 16px;
}
/*Fim da Tela Campanhas*/

/* Estilizando a Tela de Doadores */
#conteudo-doadores, #conteudo-mostrarDoador, #conteudo-historico {
  max-width: 100vw;
  max-height: 100%;
}

.title_doadores {
  font-family: var(--font-open-sans);
  color: var(--cor-vermelha);
  font-size: 3rem;
  text-align: center;
  margin: 70px 0px 20px 0px;
}

#div_doadores {
  max-width: 100vw;
  max-height: 100%;

  display: flex;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card_doadores {
  max-width: 300px;
  max-height: 100%;
  border: 2px solid var(--cor-vermelha);
  border-radius: 20px;
  padding: 10px;
  color: var(--cor-vermelha);
  font-family: var(--font-open-sans);
  font-size: 1rem;
}

.cabecalho_card {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.cabecalho_card > img {
  height: 80px;
}

.card_doadores > #link_doador {
  text-decoration: none;
  color: var(--cor-vermelha);
  font-family: var(--font-open-sans);
}
/* Estilizando a Tela de Mostrar Doadores */
#conteudo-mostrarDoador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-mostrarDoador {
  margin: 15% 0px 0px;
  min-width: 400px;
  max-width: 800px;
  max-height: 100%;
  border: 2px solid var(--cor-vermelha);
  border-radius: 20px;
  padding: 20px;
  color: var(--cor-vermelha);
  font-family: var(--font-open-sans);
  font-size: 1.5rem;
}

.cabecalho-mostrarDoador, .div-dadosDoador {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.cabecalho-mostrarDoador > img {
  height: 150px;
}

.cabecalho-mostrarDoador > h1 {
  font-size: 3rem;
  font-weight: bold;

}

.div-dadosDoador {
  margin-top: 20px;
}

.div-dadosDoador > span {
  font-size: 5rem;
  font-weight: bolder;
}

.span-icon > img {
  max-width: 40px;
  margin-right: 10px;
}
/* Fim Tela de Doadores */

/* Estilizando a Tela de Historico */
.card_historico {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  width: 80%;
  border: 2px solid var(--cor-vermelha);
  border-radius: 20px;
  padding: 20px;
  color: var(--cor-vermelha);
  font-family: var(--font-open-sans);
}

.div_dados_historico {
  display: flex;
  align-items: center;
  gap: 10px;
}

.div_dados_historico > img {
  height: 80px;
}

.dados_historico > h1 {
  font-size: 2rem;
}

.dados_historico > p, .dados_historico > a {
  color: var(--cor-preta);
  font-size: 1.2rem;
}
/* Fim Tela de Historico */